body {
  font-family: Arial, sans-serif;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #cfcfcf;
  padding: 50px;
  border-radius: 10px;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  /* Transparent background */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Reduced transparency for users who prefer it */
@media (prefers-reduced-transparency: reduce) {
  .card {
    opacity: 0.5 !important;
  }
}


@media (prefers-color-scheme: dark) {
  .card {
    background-color: yellowgreen !important;
  }
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: orange !important;
  }
}


@media (prefers-contrast: more) {
  .card {
    outline: 2px solid red;
  }
}

@media (prefers-contrast: less) {
  .card {
    outline: 2px solid black;
  }
}

@media (prefers-contrast: custom) {
  .card {
    outline: 2px solid brown;
  }
}

@media print {
  .card {
    background: repeating-linear-gradient(45deg, yellow, yellow 10px, red 10px, red 20px);
  }
}


@media (color-gamut: srgb) {
  .card {
    background-color: green;
  }
}

@media (color-gamut: p3) {
  .card {
    background-color: silver;
  }
}

@media (color-gamut: rec2020) {
  .card {
    background-color: tomato;
  }
}